* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
}

.menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}


.menu {
  .gif {
    position: absolute;
    margin: 20px;
    height: 60px;
    width: 160px;
    max-width: 50%;
    z-index: 1;
    top: 1%;
    left: 2%;
  }

  .gif {
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 100%;
    text-align: center;
    text-decoration: none;
    background-color: rgb(227, 80, 80);
    display: block;
    padding: 2px 4px;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);

    -webkit-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
    -moz-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
    box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .gif:active {
    top: 10px;
    background-color: red;

    -webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 black;
    -moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3pxpx 0 black;
    box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 black;
  }

  .gif:after {
    content: "";
    padding: 4px;
    position: absolute;
    bottom: -15px;
    left: -4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
}

.menu > .center {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  /* background-color: blue; */
  flex-wrap: wrap;
  gap: 2%;
  justify-content: center;
  direction: rtl;
  overflow-y: auto;
}

.menu > .center::-webkit-scrollbar {
  display: none;
}

.menu > .center > div {
  width: 300px;
  min-width: 200px;
  height: 250px;
}

.deadliestAttackTypes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: gray; */
}

.deadliestAttackTypes > .selectTypes{
  height: 20%;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
}


.deadliestAttackTypes > .graf {
  height: 76%;
  width: 100%;
  /* background-color: #915100; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.graf > .bar, .line {
  max-height: 90%;
}



.highestCasualtyRegions {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highestCasualtyRegions > .map {
  width: 100%;
  height: 85%;
  /* position: static; */
}

.map > div {
  width: 100%;
  height: 100%;
}

.incidentTrends {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.incidentTrends > .graf {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.graf > .line {
  max-height: 90%;
}

.incidentTrends > .filter {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: gray;

  input {
    width: 20%;
    max-width: 10%;
    height: 40%;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    direction: rtl;
    color: black;
  }
  button {
    width: 20%;
    max-width: 10%;
    height: 40%;
    border-radius: 10px;
    border: none;
    color: gray;
    font-size: 1.2rem;
    font-weight: 600;
    direction: rtl;
    color: black;
  }

  select {
    width: 20%;
    max-width: 10%;
    height: 40%;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    direction: rtl;
    color: black;
  }
}

.left,
.right {
  display: flex;
  width: 40%;
  height: 50%;
}

.highestCasualtyRegions > .filter {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(to bottom, #e6cc96, #52c1e3); 
}

.highestCasualtyRegions > .filter > * {
  width: 15%;
  height: 40%;
  border-radius: 10px;
  border: none;
  color: #f2efe9;
  font-size: 1.2rem;
  font-weight: 600;
  direction: rtl;
  color: #29b7e2;
  text-align: center;
}

.highestCasualtyRegions > .popup {
  background-color: #29b7e2;
  width: 100%;
  height: 100%;
  color: red;
}

.groupsByYear{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #52c1e3;
}

.groupsByYear > .filter{
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(to bottom, #e6cc96, #52c1e3); 
}

.groupsByYear > .filter > div{
  width: 20%;
}


.groupsByYear > .graf{
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.allRegions{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.allRegions > .filter{
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(to bottom, #e6cc96, #52c1e3); 
}

.allRegions > .main{
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.allRegions > .main > .left, .right{
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 2%;
  box-shadow: 0 3px 5px #368bcd;
}

.allRegions > .main > .right{
  width: 45%;
  position: absolute;
  right: 2%;
}


.allRegions > .main > .left{
  display: flex;
  justify-content: center;
  align-items: center;
  left: 2%;
}

.allRegions > .main > .left > *{
  position: absolute;
}

.allRegions > .main > .left > .changeGraf{
  top: 1%;
  left: 1%;
}

.allRegions > .main > .left > .changeSize{
  bottom: 1%;
  right: 1%;
}


/* .allRegions > .main > .right > .changeSize{
  position: absolute;
  bottom: 10%;
  right: 1%;
} */

.hidden{
  display: none;
}



.filter > div{
  width: 20%;
}


.newAttack {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newAttack > .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  width: 50%;
  height: 49%;
}

.newAttack > .center > * {
  height: 10%;
  margin: auto;
  padding: auto;
  direction: rtl;
}
